.map-container-div{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.map-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.map-container-card {
  border-radius:1rem;
	background: white;
	position: absolute;
	top: calc(50vh - 200px);
  left:calc(25vw - 100px);
}

.map-container-card-list{
	width: 20rem;
	font-size: 12px;
}

.header-container .ant-list-item-no-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-container .ant-spin-container{
	width: 100%;
}

.header-container .ant-list-item-meta{
	width: 100%;
}

.map-button{
	display: none;
}

@media screen and (max-width:1200px) {
	.map-button{
		height: auto;
		display: block;
		position: relative;
		top:80vh;
		left:20vh;
		border-radius:1rem

	}
	.map-container-card{
		display: none;
	}
	
}


