.booking {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../../assets/images/booking.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 600px;
}

.booking .booking-form-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 5.5rem;
}



.booking-form-item {
	width: 40%;
}

.booking .ant-input{
	color:white
}
.booking-form-item-phone {
	width: 90%;
}
.booking-form-title {
	color: white !important;
}

.booking-form-form-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--landing-page-content-width);
}

.booking-form-form,
.booking-form-image-container {
	width: 40%;
}

.booking-form-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.booking-form-image {
	max-width: 100%;
}

.booking .ant-picker {
	width: 100%;
}

.booking .ant-picker-suffix{
    color:white;
}

.booking .ant-input:hover {
	background-color: rgba(0, 0, 0, 0.3) !important;
}
.booking .ant-input::-webkit-input-placeholder {
	color: #afb4ba
}
.booking .ant-picker {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	border-radius: 0.5rem;
}
.booking .ant-picker-input > input {
	color: #fff;
}

.booking .ant-input {
	border-radius: 0.5rem;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
	box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
}

.booking .ant-btn {
	background-color: #52cdde;
	color: #fff;
	font-size: 1.25rem;
	height: fit-content;
	border-radius: 0.5rem;
}

.success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 70vh;
}

.booking .ant-result-success {
	padding: 0;
	margin-bottom: 3em;
}

.booking .ant-result-title {
	color: #fff;
}

.booking .err {
	width: 25rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
	.booking-form-image-container {
		display: none;
	}
	.booking-form-form {
		width: 50%;
		margin: auto;
	}
}

@media only screen and (max-width: 768px) {
	.booking-form-form {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	.booking-form-form {
		width: 100%;
	}
}
