.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

.icon{ 
  font-size: 21px; 
  margin: 0 10px; 
}

.delete-icon{
  color: red; 
}

.confirm-edit-icon{
  color: green;
}

.cancel-edit-icon{
  color: red;
}
.row-click-pointer {
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    transition: text-decoration 2s linear 1s;
    text-decoration: none;
}

.row-click-pointer::after{
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #001529;
  transition: width 300ms;
}

.row-click-pointer:hover::after{
  width: 50%;
}

.patient-search-table-status .ant-checkbox-inner{
border-color: #001529;
}

