.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

.site-layout-content {
  justify-content: end;
}

.ant-spin-container {
  width: 70vw;
}

.icon{ 
  font-size: 21px; 
  margin: 0 10px; 
}

.delete-icon{
  color: red; 
}

.confirm-edit-icon{
  color: green;
}

.cancel-edit-icon{
  color: red;
}
.patient-search-table .ant-table-row {
    cursor: pointer;
}
