.patients-container{
    width: 70vw 
}

.patients-container .ant-input-group-wrapper {
    width: 260px !important;
    float:right !important;
    padding-bottom: 1.8rem !important;
}

.patients-container h3{
    text-align: center;
}

.patients-container .ant-spin-spinning{
    padding: 10rem 0px 0px 34rem !important;
}

