.patients-container{
    width: 70vw ;
}

.patients-container .options{
    margin-left: 20rem
}

.patients-container .ant-input-group-wrapper {
    align-self: flex-end;
    width: 18.5rem ;
    padding-bottom: 1.8rem ;
}

.patients-container h3{
    text-align: center;
}

.patients-container .ant-spin-spinning{
    padding: 10rem 0px 0px 34rem ;
}

.patients-container .ant-table-row {
    cursor: pointer;
}


.patients-container .ant-select {
    width: 18.5rem ;
}

@media only screen and (max-width: 770px){
        .patients-container .ant-input-group-wrapper {
            align-self: center;
            width: 10rem ;
            padding-bottom: 1.8rem ;
        }
        .patients-container .options{
            margin-left: 0rem
        }

        .patients-container .ant-select {
            width: 10rem ;
        }
    }