.patients-container{
    width: 70vw 
}

.patients-container .ant-input-group-wrapper {
    width: 260px !important;
    float:right !important;
    padding-bottom: 30px !important;
}

.patients-container h3{
    text-align: center;
}

