.calendar-search-inputs-div{
  display: flex;
  width: 60%;
}

.calendar-search-input-half-width{
  width: 50%;
}

.calendar-search-input-full-width{
  width: 100%;
}

.calendar-search-form{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

