.ourService-Service-container{
    display: flex;
    max-width: 60vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ourService-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourService-content{
    text-align: center;
    margin: 50px;
    width: 50vw;
}

.ourService-subtitle{
    color: #575D5E;
}

.ourService-description{
    width: 50px !important;
}

