.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.Service-container{
    position: relative;
    display: flex;
    background-color: white;
    width: var(--landing-page-content-width);
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    top: -15vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.433);
}

.content{
    position: relative;
    background-image: linear-gradient(rgba(151,220,227,.3764705882352941),rgba(151,220,227,.3764705882352941)),url(../../assets/images/theme1.png);
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;

}
.content-div{
    width: var(--landing-page-content-width);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-top: 15vh;
}


.header-subtitle{
    font-size: 20px;
    color:rgba(212, 189, 189, 0.501);
    margin: 0 !important;
}

.header-title{
    font-size: 35px;
    text-align: left;
     margin: 1rem 0 !important;

}
.description{
    font-size: 20px;
    color: #282828;
    max-width: 40vw;
}

.img{
    width: 100%;
}
.image-container{
    width: 100vw;
    position: relative;
}

.read-more-button{
    color: white;
    background-color: #0DCCDE;
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    width: 150px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;

}

.read-more-button:hover{
    background-color: black;
    transition: 0.4s;
}

@media only screen and (max-width: 1200px) {
    .Service-container{
        display: none;
    }
    .description{
        max-width: 70vw;
    }
    .description{
    font-size:1rem;

}


}

@media only screen and (max-width: 650px) {

    .header-subtitle{
    font-size: 1rem;

}
.description{
    font-size:1rem;

}


.header-title{
    font-size: 2rem
}
}


@media only screen and (max-width: 600px) {
   .content-div{
    margin-top: 15vh;
   } 
}


