.container{
    position: relative;

}

.Service-container{
    position: relative;
    display: flex;
    background-color: white;
    width: 80vw;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    left: 10vw;
    top: -6vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.433);
}

.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #97DCE360;
    box-shadow: 0px 0px 60px;
}

.content{
    position: absolute;
    top: 20%;
    left: 20vw;
    display: flex;
    flex-direction: column;
}

.header-subtitle{
    font-size: 20px;
    color: #E2F4F7 !important;
}

.header-title{
    font-size: 35px;

}
.description{
    font-size: 20px;
    color: #282828;
    max-width: 40vw;
}

.img{
    width: 100%;
}
.image-container{
    width: 100vw;
    position: relative;
}

.image-container::after{
    position: absolute;
    content:'';
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #97DCE360;
}

.read-more-button{
    color: white;
    background-color: #0DCCDE;
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    width: 150px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;

}

.read-more-button:hover{
    background-color: black;
    transition: 0.4s;
}


@media only screen and (max-width: 1250px) {
    .Service-display{
        height: 80vh;
    }
    .Service-container{
        top: 90%;
    }
    .img{
        height: 400px;
    }
    .description{
        max-width: 70vw;
    }
}

@media only screen and (max-width: 650px) {
    .Service-display{
        height: 150vh;
    }
}


   